name: Deploy static site to Azure Storage

on:
  push:
    branches: [ "main" ]
    paths:
      - "site/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Upload files to Azure Storage Static Website
        run: |
          az storage blob upload-batch \
            --account-name cloudresumeproject1 \
            --destination '$web' \
            --source site \
            --overwrite
